---
const pageTitle = 'Gallery'
import SiteLayout from '../layouts/SiteLayout.astro'
import '../styles/global.css'
import { Image } from 'astro:assets'
import darkBrownShower from '../media/gallery_images/dark_brown_shower.jpg'
import grayWhiteKitchen from '../media/gallery_images/gray_white_kitchen.jpg'
import grayWoodFloor from '../media/gallery_images/gray_wood_floor.jpg'
import largeBlackWhiteShower from '../media/gallery_images/large_black_white_shower.jpg'
import greyKitchen from '../media/gallery_images/grey-kitchen.jpg'
import largeBrownShower from '../media/gallery_images/large_brown_shower.jpg'
import lightBrownKitchen from '../media/gallery_images/light_brown_kitchen.jpg'
import lightBrownSilverShower from '../media/gallery_images/light_brown_silver_shower.jpg'
import orangeCounter from '../media/gallery_images/orange_counter.jpg'
import woodTileShower from '../media/gallery_images/wood_tile_shower.jpg'
import tealWhiteKitchen from '../media/gallery_images/teal_white_kitchen.jpg'
---

<SiteLayout pageTitle={pageTitle}>
	<div class="mt-8 bg-boxgreen gallery-top p-8">
		<h1 data-lang-key="gallery-h1" class="mb-4 mt-4 text-4xl sm:text-3xl font-semibold"></h1>
		<p data-lang-key="gallery-subheading" class="pb-8 text-xl sm:text-lg"></p>
	</div>
	<div class="gallery-grid">
		<Image src={orangeCounter} alt="Dark brown shower" />
		<Image src={tealWhiteKitchen} alt="Dark brown shower" />
		<Image src={darkBrownShower} alt="Dark brown shower" />
		<Image src={grayWhiteKitchen} alt="Dark brown shower" />
		<Image src={grayWoodFloor} alt="Dark brown shower" />
		<Image src={largeBlackWhiteShower} alt="Dark brown shower" />
		<Image src={greyKitchen} alt="Dark brown shower" />
		<Image src={largeBrownShower} alt="Dark brown shower" />
		<Image src={lightBrownKitchen} alt="Dark brown shower" />
		<Image src={lightBrownSilverShower} alt="Dark brown shower" />

		<Image src={woodTileShower} alt="Dark brown shower" />
		
	</div>
</SiteLayout>

 

